.agregar{
    padding: 1rem;
    background-color: lightgray;

}

.agregar__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agregar__titulo {
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;

}

.agregar__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 70%;
}

.agregar__formulario-label{
    margin-right: 40%;
    padding: 0 .5rem;
    display: none;
}

.agregar__formulario-input{
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
    min-width: 420px;
    width: 65%;
}

#agregar-descripcion {
    height: 120px;
}

.agregar__formulario-send{
    font-size: 1.3rem;
    padding: .3rem 1rem;
}

@media screen and (max-width: 768px) {
    .agregar__formulario-input{
        min-width: 220px;
        font-size: 1rem;
        padding: .3rem;
    }

    .agregar__formulario-send{
        font-size: 1rem;
        padding: .2rem 1rem;
    }
}


@media screen and (max-width: 360px) {

    .agregar__titulo {
        text-align: center;
        font-size: 1.5rem;
    }

    .agregar__formulario-input{
        padding: .2rem;
        min-width: 140px;
        font-size: .8rem;
        width: 100%;
    }

    .agregar__formulario-send{
        padding: .2rem .5rem;
        font-size: .8rem;
    }
}
