   /* --------- FULL SCREEN -------- */


.login {
    height: 60vh;
    background-color: lightgray;
}

.login__contenedor {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__titulo {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

.login__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 60%
}

.login__formulario-label {

}

.login__formulario-input {
    font-size: 1.3rem;
    width: 70%;
    height: 20%;
    margin: .6rem;
    padding: .2rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 5px;
}

.login__formulario-send {
    margin: .6rem;
    height: 20%;
    width: 70%;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 5px;
}

.login__formulario-send:hover {
    background-color: #fd8311;
}

@media screen and (max-width: 768px) {

    .login__formulario{
        width: 80%;
    }

    .login__formulario-input{
        height: 15%;
        font-size: 1rem;
        min-width: 260px;
    }

    .login__formulario-send{
        width: 30%;
        height: 15%;
    }
}

@media screen and (max-width: 360px) {

    .login{
        height: 35vh;
    }

    .login__titulo{
        font-size: 1.3rem;
    }

    .login__formulario-input{
        min-width: 180px;
        font-size: .7rem;
    }

}