   /* --------- FULL SCREEN -------- */

.todoslosproductos {
    padding: 0.2rem;
}

.todoslosproductos__contenedor {

}

.todoslosproductos__seccion {
    display: flex;
}

.todoslosproductos__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95vw;
}


.productos__seccion {
    border: 1px solid #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.productos__titulo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.productos__nombre {

}

.productos__vertodo {

}

.productos__lista {
    display: flex;
    justify-content: space-around;
}

.productos__item {
    margin: 1% 1.5%;
    background-color: darkolivegreen;
    width: 12%;
    min-width: 180px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.productos__imagen {
    width: 90%;
    height: 60%;
    background-color: aliceblue;
    margin: 0.1rem;
}

.productos__item-titulo {
    height: 7%;
    width: 75%;
    background-color: aqua;
    margin: 0.3rem;    
}

.productos__item-precio {
    height: 10%;
    width: 75%;
    background-color: aqua;
    margin: 0.3rem;  
}

.productos__item-ver {
    margin: 0.3rem; 
}

.productos__item-ver button{
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 768px) {

    .todoslosproductos__lista{
        justify-content: center;
    }

    .productos__item{
        min-width: 140px;
        height: 17vh;
    }
}

@media screen and (max-width: 360px) {

    .productos__titulo{
        margin: .4rem ;
    }

    .productos__vertodo{
        margin: 0 .3rem;
    }

    .productos__item {
        width: 70%;
        height: 25vh;
    }

    .productos__imagen{
        max-width: 160px;
        max-height: 160px; 
        margin: .3rem;
    }

}